@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: hsl(212, 45%, 89%);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 100%);
    padding: 15px;
    width: 300px;
    height: 500px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.down{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 2px;
}

.qr-image{
    width: 270px;
    height: auto;
    margin-bottom: 20px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.header{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.description{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    color: #383b3a;
}


@media screen and (max-width: 375px){
    .card{
        width: 240px;
        height: 380px;
        padding: 4px;

    }
    
    .qr-image{
        width: 215px;
        margin: 0;
    }
    
    .header{
        font-size: 14px;
    }
    
    .description{
        font-size: 12px;
        margin-bottom: 0;

    }
    
}